<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<script type=text/javascript src="{{
  url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
    <head>
        <title>Tailwater Systems Advanced Menu</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
		
    </head>
    <body>
 
<div class="container">
 
 
  <h2>ORP Module Advanced Setup</h2>
  <h3>Warning incorrect infromation will interup AWS service, <br>double check information before submitting!</h3>
  <form  action="" enctype=multipart/form-data  method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="name">Device Id:</label>
      <input type="text" class="form-control" id="devId" name="devId" placeholder="Set device ID.">
      <br>
      <label for="endpoint">Endpoint:</label>
      <input type="text" class="form-control" id="endpoint" name="endpoint" placeholder="Enter AWS Endpoint.">
	  <br>
	  <label for="rootca">root-CA:</label>
	  <input type="file" name="rootca">
	  <br>
	  <label for="privatekey">Private Key:</label>
	  <input type="file" name="privatekey">
	  <br>
	  <label for="certpem">Certificate PEM File:</label>
	  <input type="file" name="certpem">
    </div>
	<br>
    <button type="submit" name="submit" value="submit">Submit</button>
  </form>
	<p><a href='/' id=basicSetup>Back to Basic Setup</a>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Form Submitted: </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>            
</div>
</div>

</body>
</html>